html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------ end of reset ------------ */
:root{
    --font: 'Ubuntu';
}
*,label,legend{
    font-family: var(--font);
}
#container{
    display: flex;
    width: 100%;
    height:100vh;
}
#left_container{
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1.3;
    height: 100%;
}

.logo{
    background-image: url(logo.png);
    background-size: cover;
    
    width: 300px;
    height: auto;
    opacity: 1;
}
#right_container{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
#description_area{
    max-width: 600px;
    font-weight: bold;
    font-size: 25px;
    font-family: var(--font);
    margin-left: 50px;
}

legend{
    color: grey;
    font-weight: bolder;
    width: 100%;
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.whole_form_container{
    margin-top: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-bottom: 30px;
}
form{
    font-family: var(--font);
    justify-content: space-between;
    display: flex;
    max-width: 500px;
    width: 50vw;
    height: auto;
    flex-wrap: wrap;
    border-radius: 10px;
    padding-left: 50px;
}
.form_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    font-size: 13px;
    margin-bottom: 20px;
}

input{
    padding: 2px;
    padding-left: 7px;
    border: 1px solid grey;
    border-radius: 5px;
    
}
input:focus{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(245, 245, 245);
}
.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 9px 9px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 200px;
  margin-left: 50px;
}

.button-68:hover {
  background-color: #2fcc6e;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
.bottom{
    margin-left: 50px;
    margin-top: 10px;
    font-family: var(--font);
    font-size: 13px;

}
a{
    text-decoration: none;
    
}

label{
    color: grey;
    font-weight: 500;
}

